@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    line-height: $line-height;
    @if $enable-rounded {
        border-radius: $border-radius;
    } @else {
        border-radius: 0;
    }
}

@mixin button-border($border-width, $border-color: $primary) {
    border: $border-width solid $border-color;
}

@mixin button-variant($background, $border, $onBackground: $onPrimary, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $disalbed-color: $normal) {
    color: $onBackground;
    border-color: $border;
    @include bg($background);

    @include hover {
        color: color-yiq($hover-background);
        @include bg($hover-background);
        border-color: $hover-background;
    }

    &:disabled, &.disabled {
        color: $disalbed-color;
        background-color: transparent;
        border-color: transparent;
    }
}

@mixin button-outline-variant($color, $color-hover: darken($onPrimary, 10%), $active-background: $surface, $active-border: $color-hover, $disalbed-color: $normal) { 
    color: $color;    
    background-color: transparent;
    background-image: none;
    border-color: $color;

    &:hover {
        color: $color-hover;
        //background-color: $active-background;
        border-color: $active-border;
    }

    &:disabled, &.disabled {
        color: $disalbed-color;
        background-color: transparent;
        border-color: $disalbed-color;
    }

    &.borderless {
        border: none;
    }
}