$numbers-columns: 2, 3, 4, 5, 6;

%flex-row-shared {
    display: flex;
    flex-flow: row wrap;
}

@include base-flex("row") {
    gap: $spacer;
    align-items: start;

    &.no-gap {
        gap: 0;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.stretch {
        align-items: stretch;
    }
}

.align-center {
    align-items: center;
    align-self: center;
}

.stretch {
    align-items: center;
    align-self: stretch;
}

@include base-flex("column") {
    gap: $spacer;

    &.no-gap {
        gap: 0;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.align-center {
        align-items: center;
    }

    &.space-around {
        justify-content: space-around;
    }
}

@each $column in $numbers-columns {
    .pc__grid-#{$column} {
        @include grid-columns($column) {
            column-gap: $margin-2;
            justify-items: stretch;
            align-items: center;
        }
    }
}

.pc__grid--logo {
    justify-self: start;
}

.pc__grid--title {
    justify-self: center;
}

.pc__grid--actions {
    justify-self: end;
}